<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="~/css/PageDB/AdminDB.css" rel="stylesheet" />
</head>
<body>
	<div class="DataBase">
		<div class="ControlUnit">
			<label for="Tables">Tables</label>
			<select>
				<option>Пункт 1</option>
				<option>Пункт 2</option>
			</select>
			<div class="Teacher">
				<button>Add Teacher</button>
				<button>Edit Teacher</button>
				<button>Delete Teacher</button>
			</div>
			<div class="Student">
				<button>Add Student</button>
				<button>Edit Student</button>
				<button>Delete Student</button>
			</div>
			<div class="Class">
				<button>Add Class</button>
				<button>Edit Class</button>
				<button>Delete Class</button>
			</div>
			<div class="Schedule">
				<button>Add Schedule</button>
				<button>Edit Schedule</button>
				<button>Delete Schedule</button>
			</div>
		</div>
		<div class="Table">
			<table>
				<thead class="Columns">
					<tr>
						<th>Колонка1</th>
						<th>Колонка1</th>
					</tr>
				</thead>
				<tbody class="Rows">
					<tr>
						<td>Строка1</td>
						<td>Строка1</td>
					</tr>
					<tr>
						<td>Строка2</td>
						<td>Строка2</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>