<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width"/>
	<title>Autorization</title>
	<link href="~/css/Autorization.css" rel="stylesheet"/>
</head>
<body>
<div class="form">
	<form method="post">
		<p>
			<input type="text" name="Login" placeholder="login" />
		</p>
		<p>
			<input type="password" name="Password" placeholder="password" />
		</p>
		<input type="submit" value="Login"/>
	</form>
</div>
</body>
</html>
