.login-form {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

body {
    background: dimgrey;
}

.form input {
    box-sizing: border-box;
    margin: 5px;
    width: 200px;
    height: 40px;
    font-size: 17px;
}